body {
  font-family: Arial, sans-serif;
  background-color: #f8e1e8; /* Color pastel rosa */
  margin: 0;
  padding: 0;
}

header {
  background-color: #f9b3d1; /* Rosa pastel suave */
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #f5a3c7; /* Rosa pastel claro */
}

nav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  background-color: #f08c9f; /* Rosa más fuerte */
}

section {
  margin: 40px;
  padding: 20px;
  background-color: #fff0f5; /* Rosa muy suave de fondo */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2, h3 {
  color: #f68e8e; /* Rosa suave para títulos */
}

.producto {
  border: 1px solid #f5a3c7;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
}

.producto img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.btn {
  display: inline-block;
  background-color: #f5a3c7; /* Rosa pastel para los botones */
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background-color: #f08c9f; /* Rosa más fuerte al pasar el ratón */
}

#carrito, #pago, #detalle-tarta, #detalle-pastel, #detalle-helado {
  background-color: #fff8dc;
  padding: 20px;
  border-radius: 10px;
}

#inicio {
  background-color: #f9b3d1;
  color: white;
  text-align: center;
  padding: 100px 0;
}

#inicio h2 {
  font-size: 2.5rem;
  color: #fff;
}

#inicio p {
  font-size: 1.2rem;
  color: #fff;
}

#inicio .btn {
  background-color: #f68e8e;
  color: white;
  font-size: 1.2rem;
}

#inicio .btn:hover {
  background-color: #f08c9f;
}

/* Estilos Responsivos */
@media (max-width: 600px) {
  .producto img {
    width: 150px;
    height: 150px;
  }

  #inicio {
    padding: 60px 0;
  }
}
